@font-face {
    font-family: without;
    src: url(/fonts/WithoutAltSans-Black.ttf);
}

@font-face {
    font-family: Gotham;
    src: url(/fonts/Gotham-Bold.otf);
}


body{
    margin: 0;
    padding: 0;
    background-color: white;
    color: white    ;
}

//css for the photo shuffle
.photoshuffle{
    width: 100vw;
    background-image: url(/static/images/1.png);
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Ensure the image covers the entire div */
    height: 55vh;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}

nav .links{
    display: flex;
    width: 50vw;
    font-family: Verdana;
}

nav .links span{
    color: rgba(240, 248, 255, 0.571);
}


nav .logo{
    font-family: without;
    display: flex;
    align-items: center;
}

nav .logo ion-icon{
  margin-left: 2vw;
}

#lower-tier{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    align-items: center;
    justify-content: space-between;
}

#lower-tier .left{
    margin-left: 10%;
}

.left p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#lower-tier .right{
    margin-right: 10%;
}
.number-of-listeners{
    font-weight: bolder;
}

.left .artist{
  color: rgba(255, 255, 255, 0.521);
}

.left .name{
    font-family: Gotham;
}

#lower-tier .right button{
   margin-left: 2vh;
   padding-left: 3vh;
   padding-right: 3vh;
   padding-top: 0.3vh;
   padding-bottom: 0.3vh;
}

