@font-face {
    font-family: without;
    src: url(/fonts/WithoutAltSans-Black.ttf);
}

@font-face {
    font-family: Gotham;
    src: url(/fonts/Gotham-Bold.otf);
}


body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000000, #0a0a0a, #1a1a1a);
}

@keyframes FadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fadein{
    animation: FadeIn 3s ease-in-out forwards;
}

//css for the photo shuffle
.photoshuffle{
    width: 100vw;
    //background-image: url(/static/images/1.png);
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Ensure the image covers the entire div */
    height: 55vh;
    color: white;
    //opacity: 0;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}

nav .links{
    display: flex;
    width: 50vw;
    font-family: Verdana;
}

nav .links span{
    color: rgba(240, 248, 255, 0.571);
}


nav .logo{
    font-family: without;
    display: flex;
    align-items: center;
}



#lower-tier{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    align-items: center;
    justify-content: space-between;
}

#lower-tier .left{
    margin-left: 10%;
}

.left p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#lower-tier .right{
    margin-right: 10%;
}
.number-of-listeners{
    font-weight: bolder;
}

.left .artist{
  color: rgba(255, 255, 255, 0.521);
}

.left .name{
    font-family: Gotham;
}

#lower-tier .right a{
   margin-left: 2vh;
   padding-left: 3vh;
   padding-right: 3vh;
   padding-top: 0.6vh;
   padding-bottom: 0.6vh;
}

#lower-tier .right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right .play{
    text-decoration: none;
    background-color: black;
    border-radius: 12px;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition: all 1s ease-in-out;
}

.right .youtube{
    border-radius: 12px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: red;
    color: white;
    font-size: small;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.youtube:hover{
  background-color: tomato;
}

.play:hover{
    background-color: blanchedalmond;
    color: black;
}

//css for the line div
.line{
    color: black;
    background-color: gold;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Without;
}

//css for the songs div
.songs{
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.songplaylist img{
    width: 16vw;
    border: solid 1px white;
    filter: brightness(0.5);
    transition: all 1s ease-in-out;
}

.songplaylist img:hover{
    filter: brightness(1);
}

.songplaylist{
    width: 100vw;
    //background-color: tomato;
    padding-top: 2vh;
}

.songplaylist div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.description{
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    
    
}

.description img{
    width: 25vw;
    border: 4px solid white;
}


//play button css
.audio_player {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    padding: 1vh;
    flex-direction: column;
  }


  
  .audio_player button {
    background-color: gold;
    border: none;
    color: black;
    font-family: without;
    padding: 0.2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //font-size: 1em;
    cursor: pointer;
  }

  .description_text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }

  .artist_name{
    font-family: Without;
  }
  
  .title{
    font-family: Gotham;
  }

  .years,.year{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .year{
    font-weight: bold;
  }


  @media (max-width : 1000px) {
    .songs{
        display: flex;
        flex-direction: column;
    }

    .songplaylist div img{
        width: 40vw;
    }

    .description img{
        width: 50vw;
        margin-top: 3vh;
    }
  }